:root {
  --black: #252525;
  --white: #fff;
  --orangeLight: #fd710f;
  --orangeDark: #f43000
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

body b.header {
  display: block;
  text-align: center;
  font-size: 25px;
  margin: 50px 0 0 0;
}

a {
  color: var(--blue);
}

progress {
  height: 5px;
  width: 100%;
  margin-bottom: 10px;
  color: var(--orangeDark);
  background-color: var(--yellow);
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background-color: var(--yellow);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: var(--orangeDark);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: var(--yellow);
  border-radius: 10px;
}

progress::-moz-progress-value {
  background-color: var(--orangeDark);
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn {
  background-color: var(--blue);
  color: var(--white);
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  margin: -2px 3px;
  background: none;
  border: 2px solid var(--blue);
  color: var(--blue);
}

.tag {
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--blue);
  border-radius: 50px;
  font-size: 13px;
  text-align: center;
  float: left;
  cursor: pointer;
}

.tag i {
  margin-right: 2px;
}

.container {
  margin: 20px;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container .col {
  margin: 10px;
}

.container .col b {
  font-size: 20px;
}

.container .col div {
  margin: 10px 0;
}

.container .col table tr td:first-child {
  text-transform: uppercase;
  font-weight: 700;
  width: 35%;
}

.container-tags {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.container-tags ul {
  display: inline-block;
  list-style: none;
}

.container-header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(120deg, var(--yellow) 0%, var(--orangeDark) 100%);
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-header #img {
  max-width: 150px;
  border-radius: 50%;
  margin: 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.container-header .container-namebox {
  text-align: center;
}

.container-header .container-namebox b {
  font-size: 20px;
}

.container-header .container-socialmedia {
  color: var(--blue);
  margin: 15px 0;
}

.container-header .container-socialmedia i {
  font-size: 20px;
  margin: 0 8px;
}

.container-header .container-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

.container-project .row {
  padding: 20px;
  width: 100%;
}

.container-project .row b {
  font-size: 30px;
}

.container-project .row p {
  margin: 15px 0;
}

.container-project .row iframe {
  width: 100%;
}

.container-skills ul {
  list-style: inside circle;
}

.main-carousel {
  margin: 20px;
  padding: 15px 15px 10px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
  width: 100%;
  height: 50px;
  margin-top: 100px;
  background-image: linear-gradient(120deg, var(--yellow) 0%, var(--orangeDark) 100%);
}

@media screen and (min-width: 768px) {
  .container-header {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .tag {
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .tag:hover {
    border: 1px solid var(--orangeDark);
  }
  .tag:hover i {
    color: var(--orangeDark);
  }
  .container-tags {
    margin: 25px 60px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 40px 60px;
  }
  .container .col {
    width: 50%;
    padding: 20px;
  }
  .main-carousel {
    margin: 20px 60px;
  }
}
/*# sourceMappingURL=style.css.map */
