@import "variables";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  b.header {
    display: block;
    text-align: center;
    font-size: 25px;
    margin: 50px 0 0 0;
  }
}
a {
  color: var(--blue);
}

//progress bar css
progress {
  height: 5px;
  width: 100%;
  margin-bottom: 10px;
  color: var(--orangeDark);
  background-color: var(--yellow);
  border-radius: 10px;
}
progress::-webkit-progress-bar {
  background-color: var(--yellow);
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: var(--orangeDark);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
progress::-moz-progress-bar {
  background-color: var(--yellow);
  border-radius: 10px;
}
progress::-moz-progress-value {
  background-color: var(--orangeDark);
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn {
  background-color: var(--blue);
  color: var(--white);
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    margin: -2px 3px;
    background: none;
    border: 2px solid var(--blue);
    color: var(--blue);
  }
}
.tag {
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--blue);
  border-radius: 50px;
  font-size: 13px;
  text-align: center;
  float: left;
  cursor: pointer;
  i {
    margin-right: 2px;
  }
}
.container {
  margin: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .col {
    margin: 10px;
    b {
      font-size: 20px;
    }
    div {
      margin: 10px 0;
    }
    table {
      tr {
        td {
          &:first-child {
            text-transform: uppercase;
            font-weight: 700;
            width: 35%;
          }
        }
      }
    }
  }
}
.container-tags {
  margin: 20px;
  padding: 10px;
  text-align: center;
  ul {
    display: inline-block;
    list-style: none;
  }
}
.container-header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(
    120deg,
    var(--yellow) 0%,
    var(--orangeDark) 100%
  );
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #img {
    max-width: 150px;
    border-radius: 50%;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  }

  .container-namebox {
    text-align: center;
    b {
      font-size: 20px;
    }
  }

  .container-socialmedia {
    color: var(--blue);
    margin: 15px 0;
    i {
      font-size: 20px;
      margin: 0 8px;
    }
  }

  .container-buttons {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
  }
}
.container-skills {
  ul {
    list-style: inside circle;
  }
}

.main-carousel {
  margin: 20px;
  padding: 15px 15px 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
  width: 100%;
  height: 50px;
  margin-top: 100px;
  background-image: linear-gradient(
    120deg,
    var(--yellow) 0%,
    var(--orangeDark) 100%
  );
}

@media screen and (min-width: 768px) {
  .container-header {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .tag {
    transition: 0.2s;
    &:hover {
      i {
        color: var(--orangeDark);
      }
      border: 1px solid var(--orangeDark);
    }
  }
  .container-tags {
    margin: 25px 60px;
  }
  .container {
    display: flex;
    flex-direction: row;
    margin: 40px 60px;
    .col {
      width: 50%;
      padding: 20px;
    }
  }
  .main-carousel {
    margin: 20px 60px;
  }
}
